.error-cont{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.error-cont h2{
    font-size: 5rem;
    margin-top: 8rem;
    font-weight: bold;
    color: var(--hard);
}

.error-cont p{
    font-size: 3rem;
    margin-top: -1rem;
    font-weight: bold;
    color: var(--soft);
}