.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 1024px){
.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

}